@page "/createcourse"
@using AspNetMonsters.Blazor.Geolocation
<h3>CreateCourse</h3>

<h3>You are here</h3>
<div>
    Lat: @location?.Latitude <br />
    Long: @location?.Longitude <br />
    Accuracy: @location?.Accuracy <br />
</div>

@if (existingCourses != null)
{
    <div>
    Load Existing Course:
    <select>
        @foreach (var item in existingCourses)
        {
            <option>@item.Name</option>
        }
    </select>
</div>
}


<EditForm Model="@courseToCreate" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
    Course Name:
    <InputText id="courseName" @bind-Value="courseToCreate.Name" />
    <button type="submit">Create Course</button>
</EditForm>

@if (loadedCourse != null)
{
    <div>
        Display Group of holes, maybe accordian?
        </div>
}
<div>
    Section for adding media for course layout
</div>
<div>
    Hole 1:
    <br />
    Tee Color:
    <select>
        <option>White</option>
        <option>Blue</option>
        <option>Yellow</option>
        <option>Black</option>
    </select>
    <button>Click to Set Tee Box GPS</button>
    <button>Click to Set Pin GPS </button>
</div>